In [28]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

ValueError: ignored

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [3]:
# Run these once ... Just in case 
!pip install nose 
!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
# grader = otter.Notebook()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nose in /usr/local/lib/python3.9/dist-packages (1.3.7)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: otter-grader in /usr/local/lib/python3.9/dist-packages (4.3.1)
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.9/dist-packages (from otter-grader) (2.70.0)
Requirement already satisfied: fica>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from otter-grader) (0.2.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.9/dist-packages (from otter-grader) (7.9.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from otter-grader) (1.4.4)
Requirement already satisfied: nbformat in /usr/local/lib/python3.9/dist-packages (from otter-grader) (5.7.3)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from otter-grader) (2.27.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.9/dist-packages (from otter-grader) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from otter-grader) (8.1.3)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.9/dist-packages (from otter-grader) (6.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.9/dist-packages (from otter-grader) (0.4.6)
Requirement already satisfied: jupytext in /usr/local/lib/python3.9/dist-packages (from otter-grader) (1.14.5)
Requirement already satisfied: dill in /usr/local/lib/python3.9/dist-packages (from otter-grader) (0.3.6)
Requirement already satisfied: python-on-whales in /usr/local/lib/python3.9/dist-packages (from otter-grader) (0.59.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from otter-grader) (1.15.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from otter-grader) (3.1.2)
Requirement already satisfied: sphinx in /usr/local/lib/python3.9/dist-packages (from fica>=0.2.0->otter-grader) (3.5.4)
Requirement already satisfied: docutils in /usr/local/lib/python3.9/dist-packages (from fica>=0.2.0->otter-grader) (0.16)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client->otter-grader) (4.1.1)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client->otter-grader) (0.1.0)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client->otter-grader) (2.16.2)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client->otter-grader) (0.21.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client->otter-grader) (2.11.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib->otter-grader) (1.3.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (5.7.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (63.4.3)
Requirement already satisfied: pexpect in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (0.18.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython->otter-grader) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->otter-grader) (2.1.2)
Requirement already satisfied: markdown-it-py<3.0.0,>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from jupytext->otter-grader) (2.2.0)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.9/dist-packages (from jupytext->otter-grader) (0.3.5)
Requirement already satisfied: toml in /usr/local/lib/python3.9/dist-packages (from jupytext->otter-grader) (0.10.2)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat->otter-grader) (2.16.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.9/dist-packages (from nbformat->otter-grader) (5.2.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat->otter-grader) (4.3.3)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->otter-grader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->otter-grader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->otter-grader) (2022.7.1)
Requirement already satisfied: pydantic>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-on-whales->otter-grader) (1.10.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from python-on-whales->otter-grader) (4.5.0)
Requirement already satisfied: typer>=0.4.1 in /usr/local/lib/python3.9/dist-packages (from python-on-whales->otter-grader) (0.7.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from python-on-whales->otter-grader) (4.65.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->otter-grader) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->otter-grader) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->otter-grader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->otter-grader) (1.26.15)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client->otter-grader) (1.58.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client->otter-grader) (3.19.6)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (0.2.8)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.9/dist-packages (from httplib2<1dev,>=0.15.0->google-api-python-client->otter-grader) (3.0.9)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.10->ipython->otter-grader) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->otter-grader) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->otter-grader) (22.2.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.9/dist-packages (from markdown-it-py<3.0.0,>=1.0.0->jupytext->otter-grader) (0.1.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->otter-grader) (0.2.6)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->otter-grader) (3.2.2)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core->nbformat->otter-grader) (3.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect->ipython->otter-grader) (0.7.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (0.7.13)
Requirement already satisfied: sphinxcontrib-htmlhelp in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (2.0.1)
Requirement already satisfied: sphinxcontrib-applehelp in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.4)
Requirement already satisfied: sphinxcontrib-qthelp in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.3)
Requirement already satisfied: sphinxcontrib-devhelp in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.2)
Requirement already satisfied: sphinxcontrib-jsmath in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.1)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.1.5)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (2.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (23.0)
Requirement already satisfied: babel>=1.3 in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (2.12.1)
Requirement already satisfied: imagesize in /usr/local/lib/python3.9/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.4.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (0.4.8)

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [4]:
...
# solution
def sieve(num):
    prime = [True for i in range(num+1)]
    prime_list = []
    not_prime_list = []
    
    # boolean array
    p = 2
    while (p * p <= num):        
        if (prime[p] == True):
            for i in range(p * p, num+1, p):
                prime[i] = False
        p += 1
   
    p = 2
    # Creating the lists 
    for p in range(2, num+1):
        if prime[p]:
            prime_list.append(p)
        else: 
            not_prime_list.append(p)
   
    # Creating the tuple 
    prime_list_tuple = tuple(prime_list)
    not_prime_list_tuple = tuple(not_prime_list)
    return_tuple = (prime_list_tuple, not_prime_list_tuple)
    return(return_tuple)

num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

In [ ]:
grader.check("q1")

KeyError: 'otter'

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [5]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"
...
# solution
from collections import Counter 

dictionary = Counter(paragraph)
dictionary=dict(dictionary)


print(dictionary)

{'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '’': 3, '0': 22, ',': 7, '(': 3, ')': 3, 'q': 3, 'A': 2, 'v': 4, 'F': 1, '-': 4, '{': 2, '}': 2, 'O': 3, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 2, '*': 4, '^': 4, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1}

In [ ]:
grader.check("q2")

KeyError: 'otter'

**Question 3:** Extract the values from the dictionary above into a list

In [6]:
keysList = list(dictionary.keys()) 
...
print (keysList)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']

In [ ]:
grader.check("q3")

**Question 4:** Extract the keys from the dictionary above into a list

In [7]:
# solution
valuesList = list(dictionary.values()) 
...
print (valuesList)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

In [ ]:
grader.check("q4")

NameError: name 'grader' is not defined

**Question 5:** Merge the two lists into a tuple

In [8]:
# solution
keys_tuple = tuple(keysList)
values_tuple = tuple(valuesList)
final_tuple = (keys_tuple, values_tuple)
...
print(final_tuple)

(('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))

In [ ]:
grader.check("q5")

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [9]:
def greatest_common_divisor(a, b):
    ...
    # solution
    aa = a if a < b else b
    divisors = [i for i in range(1, aa+1) if a % i == 0 and b % i == 0]
    return divisors[-1]

print(greatest_common_divisor(10,15))

5

In [ ]:
grader.check("q6")

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [10]:
def get_nearest_farthest(pt, ptlist):
    ...
     # solution
    def dist(a, b):
        x1, y1 = a
        x2, y2 = b
        return math.sqrt((y2 - y1)**2 + (x2 - x1)**2)
    
    pts = sorted([(ptt, dist(pt, ptt)) for ptt in ptlist], key=lambda tp: tp[1])
    return pts[0][0], pts[-1][0]

print(get_nearest_farthest((9, 8), [(9, 3), (8,5), (7,6)]), ((7, 6), (9, 3)))

((7, 6), (9, 3)) ((7, 6), (9, 3))

In [ ]:
grader.check("q7")

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [11]:
def perfectly_divisible(N, q):
    ...
    #solution
    N = 20 if N < 0 else N
    return [num for num in range(N+1) if num%q == 0]

In [ ]:
grader.check("q8")

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [12]:
def flatten_lists(superlist):
    ...
    # solution
    answer = []
    for i in superlist:
        for j in i:
            answer.append(j)
    return sorted(answer)

In [ ]:
grader.check("q9")

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [13]:
import pandas as pd
from functools import reduce
df = pd.read_csv(r'Nakuru_Sensor_Data_Feb_2023.csv',usecols=['timestamp','value_type','value'])


print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

[42990 rows x 3 columns]


**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [14]:
#solution
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)
df['timestamp_new'] = df['timestamp'].dt.floor('S') 
...
print(df)

                             timestamp   value_type  value  \
0     2023-02-04 04:22:51.323124+00:00     humidity    100
1     2023-02-04 04:22:51.323124+00:00  temperature     12
2     2023-02-04 04:22:51.323125+00:00           P2     27
3     2023-02-04 04:22:51.323125+00:00           P1     59
4     2023-02-04 04:25:32.354784+00:00     humidity    100
...                                ...          ...    ...
42985 2023-02-24 07:51:55.687329+00:00  temperature     27
42986 2023-02-24 07:54:35.530536+00:00     humidity     59
42987 2023-02-24 07:54:35.530536+00:00  temperature     27
42988 2023-02-24 07:54:35.530545+00:00           P2      0
42989 2023-02-24 07:54:35.530545+00:00           P1      0

                  timestamp_new
0     2023-02-04 04:22:51+00:00
1     2023-02-04 04:22:51+00:00
2     2023-02-04 04:22:51+00:00
3     2023-02-04 04:22:51+00:00
4     2023-02-04 04:25:32+00:00
...                         ...
42985 2023-02-24 07:51:55+00:00
42986 2023-02-24 07:54:35+00:00
42987 2023-02-24 07:54:35+00:00
42988 2023-02-24 07:54:35+00:00
42989 2023-02-24 07:54:35+00:00

[42990 rows x 4 columns]

**Question E2:** Split the dataframe based on the 'value_type' collumn

In [15]:
grouped = df.groupby(df.value_type)
df_temperature = grouped.get_group("temperature")
df_humidity = grouped.get_group("humidity")
df_P1 = grouped.get_group("P1")
df_P2 = grouped.get_group("P2")

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [16]:
...
mu_temp, med_temp, sd_temp = np.mean(df_temperature['value']), np.median(df_temperature['value']), np.std(df_temperature['value'])

print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

...
mu_humidity, med_humidity, sd_humidity = np.mean(df_humidity['value']), np.median(df_humidity['value']), np.std(df_humidity['value'])

print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

...
mu_P1, med_P1, sd_P1 = np.mean(df_P1['value']), np.median(df_P1['value']), np.std(df_P1['value'])

print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

...

mu_P2, med_P2, sd_P2 = np.mean(df_P2[' value']), np.median(df_P2['value']), np.std(df_P2['value'])

print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

Temperature
Mean =  22.35287548855388 Median =  22.0 Standard Deviation =  7.218350739266434
Humidity
Mean =  64.31109249953471 Median =  61.0 Standard Deviation =  22.40665443189294
P1
Mean =  28.508605451669922 Median =  20.0 Standard Deviation =  33.68990113459809

KeyError: ignored

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [17]:
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

                 timestamp_temperature value_type_temperature  \
0     2023-02-04 04:22:51.323124+00:00            temperature
1     2023-02-04 04:25:32.354784+00:00            temperature
2     2023-02-04 04:28:12.716734+00:00            temperature
3     2023-02-04 04:30:52.437513+00:00            temperature
4     2023-02-04 04:33:32.677578+00:00            temperature
...                                ...                    ...
10741 2023-02-24 07:43:55.358126+00:00            temperature
10742 2023-02-24 07:46:35.195100+00:00            temperature
10743 2023-02-24 07:49:15.756956+00:00            temperature
10744 2023-02-24 07:51:55.687329+00:00            temperature
10745 2023-02-24 07:54:35.530536+00:00            temperature

       value_temperature             timestamp_new  \
0                     12 2023-02-04 04:22:51+00:00
1                     11 2023-02-04 04:25:32+00:00
2                     12 2023-02-04 04:28:12+00:00
3                     12 2023-02-04 04:30:52+00:00
4                     12 2023-02-04 04:33:32+00:00
...                  ...                       ...
10741                 26 2023-02-24 07:43:55+00:00
10742                 26 2023-02-24 07:46:35+00:00
10743                 26 2023-02-24 07:49:15+00:00
10744                 27 2023-02-24 07:51:55+00:00
10745                 27 2023-02-24 07:54:35+00:00

                    timestamp_humidity value_type_humidity  value_humidity  \
0     2023-02-04 04:22:51.323124+00:00            humidity             100
1     2023-02-04 04:25:32.354784+00:00            humidity             100
2     2023-02-04 04:28:12.716734+00:00            humidity             100
3     2023-02-04 04:30:52.437513+00:00            humidity             100
4     2023-02-04 04:33:32.677578+00:00            humidity             100
...                                ...                 ...             ...
10741 2023-02-24 07:43:55.358126+00:00            humidity              60
10742 2023-02-24 07:46:35.195100+00:00            humidity              60
10743 2023-02-24 07:49:15.756956+00:00            humidity              59
10744 2023-02-24 07:51:55.687329+00:00            humidity              59
10745 2023-02-24 07:54:35.530536+00:00            humidity              59

                          timestamp_P1 value_type_P1  value_P1  \
0     2023-02-04 04:22:51.323125+00:00            P1      59.0
1     2023-02-04 04:25:32.355326+00:00            P1      51.0
2     2023-02-04 04:28:12.715838+00:00            P1      56.0
3     2023-02-04 04:30:52.437520+00:00            P1      56.0
4     2023-02-04 04:33:32.678818+00:00            P1     117.0
...                                ...           ...       ...
10741 2023-02-24 07:43:55.409324+00:00            P1       0.0
10742 2023-02-24 07:46:35.195110+00:00            P1       7.0
10743 2023-02-24 07:49:15.757782+00:00            P1       1.0
10744 2023-02-24 07:51:55.687147+00:00            P1       0.0
10745 2023-02-24 07:54:35.530545+00:00            P1       0.0

                          timestamp_P2 value_type_P2  value_P2
0     2023-02-04 04:22:51.323125+00:00            P2      27.0
1     2023-02-04 04:25:32.355326+00:00            P2      27.0
2     2023-02-04 04:28:12.715838+00:00            P2      23.0
3     2023-02-04 04:30:52.437520+00:00            P2      25.0
4     2023-02-04 04:33:32.678818+00:00            P2      31.0
...                                ...           ...       ...
10741 2023-02-24 07:43:55.409324+00:00            P2       0.0
10742 2023-02-24 07:46:35.195110+00:00            P2       7.0
10743 2023-02-24 07:49:15.757782+00:00            P2       1.0
10744 2023-02-24 07:51:55.687147+00:00            P2       0.0
10745 2023-02-24 07:54:35.530545+00:00            P2       0.0

[10746 rows x 13 columns]

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [18]:
...
new_df = pd.read_csv(r'newdata.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
new_df

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:12+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:32+00:00,100,117.0,31.0
...,...,...,...,...,...
10741,26,2023-02-24 07:43:55+00:00,60,0.0,0.0
10742,26,2023-02-24 07:46:35+00:00,60,7.0,7.0
10743,26,2023-02-24 07:49:15+00:00,59,1.0,1.0
10744,27,2023-02-24 07:51:55+00:00,59,0.0,0.0
10745,27,2023-02-24 07:54:35+00:00,59,0.0,0.0

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [19]:
#Check for missing values 
missing_values =pd.isnull(new_df['value_P1'])

# displaying data only with NaN
new_df[missing_values]

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
7,13,2023-02-04 04:41:32+00:00,100,NaN,NaN
47,20,2023-02-04 06:28:18+00:00,83,NaN,NaN
49,21,2023-02-04 06:33:39+00:00,81,NaN,NaN
85,27,2023-02-04 08:09:43+00:00,46,NaN,NaN
90,29,2023-02-04 08:23:06+00:00,43,NaN,NaN
...,...,...,...,...,...
10710,20,2023-02-24 06:21:11+00:00,84,NaN,NaN
10714,21,2023-02-24 06:31:51+00:00,82,NaN,NaN
10716,21,2023-02-24 06:37:12+00:00,76,NaN,NaN
10727,23,2023-02-24 07:06:34+00:00,71,NaN,NaN
10734,25,2023-02-24 07:25:13+00:00,68,NaN,NaN

In [20]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
...
new_df['value_P1'].fillna(new_df['value_P1'].mean(), inplace=True) 
new_df['value_P2'].fillna(new_df['value_P2'].mean(), inplace=True) 

# check for missing values after replacing
missing_values = pd.isnull(new_df['value_P2']) 

# displaying data only with NaN  after the replacement
new_df[missing_values] 
new_df

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:12+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:32+00:00,100,117.0,31.0
...,...,...,...,...,...
10741,26,2023-02-24 07:43:55+00:00,60,0.0,0.0
10742,26,2023-02-24 07:46:35+00:00,60,7.0,7.0
10743,26,2023-02-24 07:49:15+00:00,59,1.0,1.0
10744,27,2023-02-24 07:51:55+00:00,59,0.0,0.0
10745,27,2023-02-24 07:54:35+00:00,59,0.0,0.0

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [21]:
#Correlation between temperature and humidity
...
corr_temp_hum = new_df['value_temperature'].corr(new_df['value_humidity'])
print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
...
corr_p1_p2 = new_df['value_P1'].corr(new_df['value_P2'])
print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between temparature and humidity -0.9028239849182673
Correlation between P1 and P2 0.8734801215476388

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

In [22]:
...
new_df['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True) 
new_df['timestamp_new'] = df['timestamp_new'].dt.floor('D')  

means_feb = new_df.groupby('timestamp_new').mean() # SOLUTION
means_feb

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2023-02-04 00:00:00+00:00,22.312783,62.269231,22.261655,7.998801
2023-02-05 00:00:00+00:00,22.171759,68.225926,28.545665,12.723529
2023-02-06 00:00:00+00:00,22.223562,61.916048,35.875720,13.835411
2023-02-07 00:00:00+00:00,22.747227,65.021719,33.383922,13.310616
2023-02-08 00:00:00+00:00,22.932282,62.166976,26.097481,9.938813
2023-02-09 00:00:00+00:00,18.371345,74.260234,2.217649,0.977087

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [23]:
# loading the dataset
df_nov = pd.read_csv(r'november_2021_sensor_data_archive.csv',sep = ';') 

#creating a new column timestamp_new
df_nov['timestamp'] = pd.to_datetime(df_nov['timestamp'], infer_datetime_format=True)
df_nov['timestamp_new'] = df_nov['timestamp'].dt.floor('S')

#grouping the data by value_type 
grouped_nov = df_nov.groupby(df_nov.value_type)
df_temperature_nov = grouped_nov.get_group("temperature")
df_humidity_nov = grouped_nov.get_group("humidity")
df_P1_nov = grouped_nov.get_group("P1")
df_P2_nov= grouped_nov.get_group("P2")


#creating a new dataframe by merging the grouped data frames 
df_merged_nov = df_temperature_nov.merge(df_humidity_nov,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged_nov = df_merged_nov.merge(df_P1_nov,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged_nov = df_merged_nov.merge(df_P2_nov,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

#open the new file 
from pathlib import Path  
filepath = Path('newdata_nov.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged_nov.to_csv(filepath)  

new_df_nov = pd.read_csv(r'newdata_nov.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
#new_df_nov 

#replace missing values with the mean 
new_df_nov['value_P1'].fillna(new_df_nov['value_P1'].mean(), inplace=True) 
new_df_nov['value_P2'].fillna(new_df_nov['value_P2'].mean(), inplace=True) 

#Create a new dataframe comprising of the average values of the variables by day
new_df_nov['timestamp_new'] = pd.to_datetime(new_df_nov['timestamp_new'], infer_datetime_format=True)
new_df_nov['timestamp_new'] = new_df_nov['timestamp_new'].dt.floor('D')
...
means_nov = new_df_nov.groupby('timestamp_new').mean()
means_nov

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2021-11-08 00:00:00+00:00,22.686364,58.345455,15.630461,7.453988
2021-11-09 00:00:00+00:00,20.658672,70.549815,17.660227,9.380498
2021-11-10 00:00:00+00:00,19.238722,76.812030,16.701885,9.655554
2021-11-11 00:00:00+00:00,18.610200,77.810565,22.339171,12.062515
2021-11-12 00:00:00+00:00,21.483636,62.605455,15.782991,8.350538
2021-11-13 00:00:00+00:00,20.445455,68.125455,15.699063,8.076514
2021-11-14 00:00:00+00:00,20.840445,65.487941,13.231398,7.141338
2021-11-15 00:00:00+00:00,19.716946,70.808194,16.817734,9.020470
2021-11-16 00:00:00+00:00,16.784672,87.235401,23.040520,13.219563
2021-11-17 00:00:00+00:00,20.812727,65.520000,20.094118,11.903355
2021-11-18 00:00:00+00:00,20.660036,64.589512,17.037333,8.820608
2021-11-19 00:00:00+00:00,19.675373,72.738806,23.953518,12.015432
2021-11-20 00:00:00+00:00,20.258590,73.309222,98.767968,63.060507
2021-11-21 00:00:00+00:00,19.734545,75.543636,18.985610,10.767766
2021-11-22 00:00:00+00:00,21.287273,59.676364,14.702265,7.723609
2021-11-23 00:00:00+00:00,17.869444,70.538889,21.311898,10.154738
2021-11-24 00:00:00+00:00,20.692168,65.519126,23.472725,10.063291
2021-11-25 00:00:00+00:00,18.238616,83.597450,24.031706,13.935697
2021-11-26 00:00:00+00:00,20.249091,79.381818,23.578989,14.231670
2021-11-27 00:00:00+00:00,20.527372,76.246350,18.454243,10.707223
2021-11-28 00:00:00+00:00,19.262774,87.664234,12.800815,7.363455
2021-11-29 00:00:00+00:00,19.217391,91.449275,14.431821,9.389554
2021-11-30 00:00:00+00:00,19.886861,79.702555,8.779496,4.687329

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [24]:
feb_numpy_array =means_feb.to_numpy() 
feb_average = np.mean(feb_numpy_array, axis = 0) 
feb_average

array([21.79315977, 65.64335563, 24.73034846,  9.79737637])

In [25]:
nov_numpy_array = means_nov.to_numpy() 
nov_average = np.mean(nov_numpy_array, axis = 0)
nov_average

array([19.94945098, 73.18511072, 21.62199812, 12.1384875 ])

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

In [26]:
def sub():
    diff=[]
    for i in range(len(nov_average)):
        result=nov_average[i]-feb_average[i]
        diff.append(result)
    return diff
 
# Print the result of the subtraction
difference = sub()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance.

In [1]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)

NameError: name 'grader' is not defined